.login-field{
  display: flex;
  justify-content: center;
  align-content: center;
}
.login-container{
  margin-top: 200px;
  margin-bottom: 200px;
  width: 500px;
  border-top-width: 10px;
  border-radius: 3px;
  border: 3em solid;
  background-color: azure;
  border-color: azure;
}
form {
  flex-direction: column;
  text-align:center;
  margin-top: 30px;
  margin-bottom: 20px;
}
button{
  width: 100%;
  margin-top: 10px;
  display: flex;

}
label { font-size: 17px; display: flex; font-family: Ebrima}
input{
  width: 100%;
  display: flex;
  margin-top: 6px;
}
.error{
  margin-top: 20px;
  color: red;
}
.toRegisterPage{
  font-size: 15px;
  margin-top: 10px
}
.toRegisterPage:hover{
  color: darkblue;
  text-decoration: underline darkblue;
  text-underline-position: under;
  cursor: pointer;

}
.toRegisterPageDiv{
  width: fit-content;
}
